nav {
    float: left;
    max-width: 120px;
    margin: -1;
    padding: -1em;
    font-size; 2em; 
    color: black;
}

article {
    margin-left: 120px;
    border-left: 5px solid blue;
    padding: 2em;
    overflow: hidden;
    position:relative;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

ul {
  list-style-type: none;
}

button {
    line-height: 180%;
    padding: 2px;
    border : gray outset 2px ;
    text-decoration: none;     /* no underline */
}

button:link {
    color : #00a ;
    background-color : white ;
}

button:visited {
    color : #009 ;
    background-color : white ;
}

button:active {
    border : gray inset 2px ;
}

button:hover {
    color : #000 ;
    background-color : #ccc ;
}