nav {
    float: left;
    max-width: 120px;
    margin: 0-1;
    padding: -1em;
    font-size; 2em; 
    color: black;
}

article {
    margin-left: 120px;
    border-left: 0px white;
    padding: 2em;
    overflow: hidden;
    position:relative;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

ol {
  list-style-type: none;
}

